*{
  font-family: sans-serif, serif;
  font-size: 18px;
  padding:0;
  margin:0;
  box-sizing: border-box;


}

h1 {
  font-size: 28px;
}

body{
   background-color: #F0F0F0;
   color: #F0F0F0;
}


nav {
  background-color: #008e97;
  top: 0;
  position: -webkit-sticky; /* Safari */
    position: sticky;
  z-index: 99;
}

nav li {
      //border-right: 2px solid #F0F0F0;
      padding: 0 15px 0 15px;
      margin: 10px;
}

.topnav {
      border-bottom: 1px solid #656565;
}

#about-us{
  scroll-margin-top: 200px;
}

.nav-link {
   color: #F5F5F5;
   font-size: 18px;
   text-decoration: none;
}

.logo {
  width: 150px;
  height:200px;
  margin: auto;
   display: block;
}

.fade-in {
animation: fadeIn ease 1.5s;
-webkit-animation: fadeIn ease 1.5s;
-moz-animation: fadeIn ease 1.5s;
-o-animation: fadeIn ease 1.5s;
-ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.featured-products-container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width:100%
}


.featured-product-card  {
  border: solid 1px #008e97;
  position:relative;
  margin: 0 40px 20px 40px;
  background-color: grey;
  min-width: 240px;
  width: 22vw;
  height: 52vh;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('img/featured-product1.png');
}

.featured-product-btn-container{
  position: absolute;
  bottom: 30px;
  right:5px;
  width: 44%;
}
.featured-product-btn-container button{
  width: 100%;
  height: 40px;
  background-color: #008e97;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
    color: #F0F0F0;
   outline:none;
   font-size: 14px;
}

.featured-product-btn-container button:hover{
    background-color: #2ecc71;
}


footer {
  bottom: 0px;
  width: 100%;
  background-color: #008e97;
  color: #F0F0F0;

}

.main-content {
  display:flex;
}

.main-content .box{
  flex-basis:50%;
  padding: 10px 20px;
}

.box h2{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

.box .content{
  margin: 20px 0 0 0;
  position:relative;
}

.center .content .place .text{
  font-size: 16px;
}


.box .content::after {
  position:absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 15%;
  background: #F0F0F0;
}

.left .content p{
  text-align: justify;
  color: 	#F0F0F0;
  font-size: 16px;
}

.left .content .social{
  margin: 20px 0 0 0;
}

.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #3b5998;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;

}


.center .content .fas {
  background: #f38424;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #f12020
}

.center .content .text{
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone{
  margin: 10px 0;
}

.right form .text{
  font-size: 16px;
  margin-bottom: 2px;
  color: #F0F0F0;
}

.right form .msg {
  margin-top: 10px;
}

.right form .btn{
  margin-top:10px;
}

.right form .btn button{
  height:40px;
  width:100%;
  border:none;
  outline:none;
  background: :#f12020;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.right form .btn button:hover{
  background-color: #f12020;
}

.bottom center{
 padding: 5px;
 font-size: 0.9375rem;
 background: #151515

}

.bottom center span{
  color: #656565;
}

.right form input, .right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #F0F0F0;
  padding:0;
  border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}

.topnav  {
  display:flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:
}


.responsive li {
  width: 100%;
  text-align: center;
}

.responsive .nav-link {
  display: block !important;
}

.icon {
  display: none;
  order:1;
  width:100%
}

.icon a {
  float:right;
}

.nav-link {
  order:2;
}

.topnav > li > a {
  color: #F0F0F0;
  text-decoration: none;

}

.topnav > li > a:hover {
  text-decoration: underline;

}
.right form input{
  height: 35px;
}


.carousel-container {
  width:90%;
  padding:0;
  margin: 10px auto 10px auto;
  overflow: hidden;
  border: 1px solid black;
}

.carousel-slide{
  display: flex;
 width: 100%;
 height: 600px;
}

.carousel-slide img {
  width:100%;
  height: 100%;
}


@media screen and (max-width: 900px) {
    .main-content{
      display: block;
    }
}

@media screen and (max-width: 628px) {
.nav-link {
   display:none;
}

.icon {
  display: block;
}
}
  @media all and (min-width: 628px) {
.responsive li:not(:last-child) {
  width:auto;
}
}



/* Desktop menu*/
@media all and (max-width: 1400px) {
  .featured-product-card  {
    min-width: 240px;
    height: 32vh;
      margin: 0 20px 10px 20px;
  }

}

@media all and (max-width: 980px) {
  .featured-product-card  {
      min-width: 200px;
      height: 26vh;
        margin: 0 10px 10px 10px;
  }
}

@media all and (max-width: 680px) {
  .carousel-slide{
   height: 240px;
  }

  .carousel-container {
    width:100%;
  }


.featured-products-container {
  display:block;

  }
  .featured-product-card  {
      margin: 0 auto 20px auto;
      min-width: 280px;
      height: 46vh;
  }
}
