*{
  font-family: 'Crimson Text', serif;
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

body{
   background-color: #F0F0F0;
   color: #F0F0F0;
}


nav {
  background-color: #008e97;
  top: 0;
  position: -webkit-sticky; /* Safari */
  z-index: 99;

}

nav li {
      //border-right: 2px solid #F0F0F0;
      padding: 0 25px 0 15px;
      margin: 10px;
}


.nav-link {
   color: #F5F5F5;
   font-size: 18px;
   text-decoration: none;
}

.logo {
  width: 150px;
  height:200px;
  margin: auto;
   display: block;
}

.img-banner-container {
  height: 500px;
}

.img-banner-container img {
   width: 100%;
  height: 100%;

}

.fade-in {
animation: fadeIn ease 1.5s;
-webkit-animation: fadeIn ease 1.5s;
-moz-animation: fadeIn ease 1.5s;
-o-animation: fadeIn ease 1.5s;
-ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


.featured-products-container {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}


.featured-product-card  {
  border: solid 1px #008e97;
  position:relative;
  margin-bottom: 20px;
  background-color: grey;
  min-width: 344px;
  width: 480px;
  height: 580px;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('img/featured-product1.png');
}

.featured-product-btn-container{
  position: absolute;
  bottom: 30px;
  right:5px;
  width: 44%;
}
.featured-product-btn-container button{
  width: 100%;
  height: 40px;
  background-color: #008e97;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
    color: #F0F0F0;
   outline:none;
}

.featured-product-btn-container button:hover{
    background-color: #2ecc71;
}


footer {
  bottom: 0px;
  width: 100%;
  background-color: #008e97;
  color: #F0F0F0;

}

.main-content {
  display:flex;
}

.main-content .box{
  flex-basis:50%;
  padding: 10px 20px;
}

.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content{
  margin: 20px 0 0 0;
  position:relative;
}


.box .content::after {
  position:absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 15%;
  background: #F0F0F0;
}

.left .content p{
  text-align: justify;
  color: 	#F0F0F0;
}

.left .content .social{
  margin: 20px 0 0 0;
}

.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #3b5998;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;

}


.center .content .fas {
  font-size 1.4375rem;
  background: #f38424;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #f12020
}

.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone{
  margin: 10px 0;
}

.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #F0F0F0;
}

.right form .msg {
  margin-top: 10px;
}

.right form .btn{
  margin-top:10px;
}

.right form .btn button{
  height:40px;
  width:100%;
  border:none;
  outline:none;
  background: :#f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.right form .btn button:hover{
  background-color: #f12020;
}

.bottom center{
 padding: 5px;
 font-size: 0.9375rem;
 background: #151515

}

.bottom center span{
  color: #656565;
}

.right form input, .right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #F0F0F0;
  padding:0;
  border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}

.topnav  {
  display:flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.responsive {
  display:block;
}

.responsive > li:not(:last-child) {
  display:block !important;
}

.icon {
  display: none;
}

.topnav > li > a {
  color: #F0F0F0;

}

.right form input{
  height: 35px;
}

@media screen and (max-width: 900px) {
    .main-content{
      display: block;
    }

    .img-banner-container {
      display:none;
    }
}


@media screen and (max-width: 450px) {
  .featured-product-card  {
      height: 420px;
  }
}

@media screen and (max-width: 628px) {
.topnav > li:not(:last-child) {
  display:none;
}

.icon {
  display: block;
}


}
